<h1>Todos</h1>
<div class="row">
  <div class="col-md-6"> Descripción</div>
  <div class="col-md-1"> Completado</div>
  <div class="col-md-2"> Creado</div>
</div>
  <div class="row" style="">
    <% @todos.each do |todo| %>
    <div class="well well-sm">
      <div class="col-md-6"> <%= todo.description %> </div>
      <div class="col-md-1"> <%= todo.completed %> </div>
      <div class="col-md-2"> <%= time_ago_in_words todo.created_at %> </div>
      <div>
        <%= link_to 'Ver', todo , class:'btn btn-primary btn-sm'%>
        <%= link_to 'Editar', edit_todo_path(todo),  class:'btn btn-success btn-sm' %>
        <%= link_to "Borrar", todo, method: :delete, data: {confirm: 'Seguro de eliminar el registro ?'}, class:'btn btn-warning btn-sm' %>
        <%= link_to 'Completo', todo, method: :complete, class:'btn btn-info btn-sm'%>
      </div>
    </div>
  <% end %>
  </div>
  <%= link_to 'Agregar Nuevo', todos_new_path, class:'btn btn-info'%>
